* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  display: flex;
  flex-direction: column;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/header/headerBackground.png");
  background-repeat: no-repeat;
}

header {
  max-width:100% ;
  display: inline-flex;
  justify-content: center;
}

nav ul{
    display: inline-flex;
    list-style: none;
    gap: 10px;
}

.headerContent{
    display: inline-flex;   
    width: 100%;
}

.headerText{
    display: inline-flex;
    flex-direction: column;
}

.Photos img:first-child{
    position: absolute;
    right: 400px;
    top: 84px;
}


.companies{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows:repeat(2, 70px);
    height: 30%;

    img{
        width: 200px;
        height: 40px;
    }
}